.App {
  text-align: center;
  background-color: lightgray;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-NavBar{
  background-color: #282c34;
  min-height: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-NavBar_Button{
  background-color: #282c34;
  min-height: 10px;
  color: white;
}

.ArticleSnippets{
  border:solid 2px black;
  background-color:#282c34 ;
  border-radius: 10px;
  width: 500px;
  display: block;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.ArticleSnip{
  border:solid 2px black;
  background-color:lightgray ;
  border-radius: 10px;
  width: 400px;
  display: block;
  justify-content: center;
  margin: 10px;
}

.Article{
  border:solid 2px black;
  background-color:lightgray ;
  border-radius: 10px;
  width: 400px;
  display: block;
  justify-content: center;
  margin: 10px;
}

.CommentSnip{
  border:solid 2px black;
  background-color:lightgray ;
  border-radius: 10px;
  width: 600px;
  display: block;
  justify-content: center;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}
